.game-card {
    background-color: #e3e3e3;
    text-decoration: none;
    color: inherit;
}

.game-banner-img {
    width: 14rem;
}

.game-carroussel {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: scroll;
    background-color: #c3c3c3;
    padding: 1rem;
}